
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

header{
    height: 10vh;
    background:#1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin: 1em;
    position: relative;
    left: 3em;
    font-size: 24px;
    color: #F9FAF8;
    font-family:"Roboto";
}

.tabs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    right: 5em;
}

.tabs .items{
    display: flex;
    justify-content: center;
    color: #e5e7eb;
    align-items: center;
    margin: 1em;
    font-size: 18px;
    font-family: "Roboto";
    height: 1.7em;
    width: 4.2em;
}

.tabs .items:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    background: blue;
    margin: 1em;
    border-radius: 12px;
    font-family: roboto;
    height: 1.7em;
    width: 4.2em;
}

.section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 60vh;
    background: #1F2937;
    /* border: 1px green solid; */
}

.item1{
    color: #F9FAF8;
    padding-left: 1em;
    position: relative;
    left: 4em;
}

.item1 .head1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    font-family: "Roboto";
    /* border: red 1px solid; */
    max-width: 650px;
    
}

.item1 .head2{
    color:#babdc1 ;
    font-family: "Roboto";
    font-size: 18px;
    /* border: 1px blue solid; */
    max-width:650px;

}

.signup button{
    background: #3882F6;
    box-shadow: none;
    width: 5.5em;
    height: 2.7em;
    border: none;
    border-radius: 3px;
    margin-top: 1em;
}

.section1 .img img{
    height: 40vh;
    width: 33vw;
    margin-right: 6em;
}
